html{
  width: 100%;
}

body{
  background-repeat: no-repeat;
  background-size: cover;
}

.msg{
  width: 100vw;
  text-align: center;
  padding-bottom: 10px;
  color: white;
  font-size: 50px;
  font-family: "Space Mono";
}

#clock{
  position: absolute;
  width: 100vw;
  margin: 0 auto;
}

#hrs{
  margin-left: 25%;
}

.prime{
  color: white;
  font-size: 200px;
  font-family: "Space Mono";
  /*color: aliceblue*/
}

.subset{
  position: relative;
  margin-right: auto;
  font-size: 50px;
  font-family: "Space Mono";
  color: white;
  margin-top: 0;
  height: 296px;
  display: inline-block;
}
